<form #idForm="ngForm" (ngsubmit)="enviarFormulario(idForm.value)">
  <label>Título requerido</label>
  <input type="text" #idTitulo="ngModel" name="nameTitulo" [hidden]="valid || pristine" [(ngModel)]="libro.name" required><br>
  <label>Tipo <i>Radio</i> Autor</label><br>
  <input type="radio" name="nameAutor" value="pepito" [(ngModel)]="libro.autor">Pepito<br>
  <input type="radio" name="nameAutor" value="juanito" [(ngModel)]="libro.autor">Juanito<br>
  <input type="checkbox" name="nameSinopsis" [(ngModel)]="libro.sinopsis">Si tiene sinopsis<br>
  <button type="submit" [disabled]="idForm.invalid">Enviar</button>
</form>
